# Fortune 500 - Bar Chart Visualisation

___
<a name="setup"></a>
### 1) Setup and Data Pre-Processing

In [5]:
# Import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from openpyxl import load_workbook
import bar_chart_race as bcr

import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [36]:
# Load dataset from Excel file
df = pd.read_excel('Data/Fortune 500 (Cleaned).xlsx', sheet_name='Sheet1', header=0)
df["Year"] = pd.to_datetime(df['Year'])
bcr_df = df.set_index('Year')

In [39]:
bcr_df.head()

,AT&T,AXA,Allianz,Amazon,Apple,BP,Bank of America,Berkshire Hathaway,CVS Health,Chevron,...,Samsung Electronics,Saudi Aramco,Sinopec Group,State Grid,Sumitomo,Total,Toyota Motor,UnitedHealth Group,Volkswagen,Walmart
Year,,,,,,,,,,,,,,,,,,,,,
1995,75094,22426,40415,0,9189,50737,13126,0,11286,31064,...,14578,0,0,0,162476,24653,88159,0,49350,83412
1996,79609,26173,46045,0,11062,56982,16298,0,11516,32094,...,24151,0,0,0,167531,27226,111052,0,61489,93627
1997,74525,32681,56577,0,9833,69852,17509,10500,0,38691,...,24710,0,0,0,119281,34513,108702,10074,66528,106147
1998,53261,76874,56785,0,0,71194,21734,10430,13086,36376,...,23810,0,0,0,102395,32741,95137,11794,65328,119299
1999,53588,78729,64875,0,0,68304,50777,13832,15274,26801,...,18394,0,34025,0,89021,27059,99740,17355,76307,139208

___
<a name="bar_chart_race"></a>
### 2) Bar Chart Race in Python
Using the Python `bar_chart_race` package (built on Matplotlib) to generate bar chart race.

Official documentation: https://www.dexplo.org/bar_chart_race/

In [40]:
bcr.bar_chart_race(df = bcr_df, 
                   n_bars = 10, 
                   sort='desc',
                   title='Top 10 Fortune 500 (Global) Companies (1995-2020)',
                   filename = 'Top 10 Fortune 500 (Global) Companies (1995-2020).mp4',
                   period_length = 1600,
                   bar_label_size=6,
                   tick_label_size=6,
                   steps_per_period = 70,
                   dpi = 400,
                   cmap='dark24',
                   fixed_max=True,
                   filter_column_colors = True,
                  )

/Users/weimengng/anaconda3/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:286: UserWarning:

FixedFormatter should only be used together with FixedLocator

/Users/weimengng/anaconda3/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:287: UserWarning:

FixedFormatter should only be used together with FixedLocator